/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background-color: #e7f6ff;
  box-sizing: border-box;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.drawer {
  position: absolute;
  width: 320px;
  height: 100%;
  right: 0;
  background: #ffffff;
  box-shadow: -10px 4px 24px rgba(0, 0, 0, 0.1);
  padding: 20px;
}
.cartItem {
  padding: 30px 20px;
  width: 100%;
  height: 119px;
  border: 1px solid #bdbdbd;
  border-radius: 20px;
}

.greenBtn {
  position: relative;
  width: 100%;
  height: 55px;
  background-color: #9dd458;
  color: #fff;
  border-radius: 20px;
  transition: background 0.2s ease-in-out;
}
.greenBtn img {
  position: absolute;
  right: 40px;
  top: 20px;
  transition: transform 0.15s ease-in-out;
}
.greenBtn:hover img {
  transform: translateX(5px);
}
.greenBtn:hover {
  background-color: #aae661;
}
.greenBtn:active {
  background-color: #94c05f;
}
.wrapper {
  background: #fcfcfc;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04);
  border-radius: 20px;
  max-width: 1080px;
  max-height: auto;
  margin: 0 auto;
  margin-top: 50px;
}
.search-block {
  border: 1px solid #f3f3f3;
  border-radius: 10px;
  padding: 0 15px;
  background-color: #fff;
}
.search-block input {
  border: 0;
  padding: 13px;
  color: #c4c4c4;
  width: 200px;
  background-color: inherit;
  outline: none;
}
@media (max-width: 641px) {
  .xs_header {
    flex-direction: column;
    align-items: center;
  }
  .xs_logo {
    margin: 20px 0;
  }
  .xs_user {
    margin-bottom: 20px;
  }
  .xs_card_grid {
    grid-template-columns: 1fr 1fr;
    justify-items: center;
  }
  .container {
    max-width: 499px;
  }
  h1 {
    text-align: center;
  }
  .searchAndTittle {
    flex-direction: column;
  }
  .search-block {
    margin-top: 15px;
  }
}
@media (max-width: 499px) {
  .xs_card_grid {
    grid-template-columns: 1fr;
    justify-items: center;
  }
  .container {
    max-width: 320px;
  }
  h1 {
    text-align: center;
  }
}
